<!-- Validation failure messages -->
<% if @batter.errors.any? %>
  <% @batter.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Batter #<%= @batter.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_batter/<%= @batter.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for bats_id -->
      <div class="form-group">
        <label for="bats_id" class="control-label">
          Bats
        </label>

        <input type="text" id="bats_id" name="bats_id" placeholder="Bats" class="form-control" value="<%= @batter.bats_id %>">
      </div>

      <!-- Label and input for team_id -->
      <div class="form-group">
        <label for="team_id" class="control-label">
          Team
        </label>

        <input type="text" id="team_id" name="team_id" placeholder="Team" class="form-control" value="<%= @batter.team_id %>">
      </div>

      <!-- Label and input for first_name -->
      <div class="form-group">
        <label for="first_name" class="control-label">
          First name
        </label>

        <input type="text" id="first_name" name="first_name" placeholder="First name" class="form-control" value="<%= @batter.first_name %>">
      </div>

      <!-- Label and input for last_name -->
      <div class="form-group">
        <label for="last_name" class="control-label">
          Last name
        </label>

        <input type="text" id="last_name" name="last_name" placeholder="Last name" class="form-control" value="<%= @batter.last_name %>">
      </div>

      <!-- Label and input for batter_name -->
      <div class="form-group">
        <label for="batter_name" class="control-label">
          Batter name
        </label>

        <input type="text" id="batter_name" name="batter_name" placeholder="Batter name" class="form-control" value="<%= @batter.batter_name %>">
      </div>

      <button class="btn btn-warning">
        Update Batter
      </button>
      or
      <a href="/batters/<%= @batter.id %>">Cancel</a>
    </form>
  </div>
</div>
