<div class="page-header">
  <h1>
    Batters
  </h1>
</div>

<%= search_form_for @q do |f| %>
<p class="lead">Find a specific batter:</p>

<div class="form-group">
  <%= f.label :batter_name_cont, "Batter" %>
  <%= f.text_field :batter_name_cont, :class => "form-control", :placeholder => "Enter a few characters of the batter's name" %>
</div>

<div class="form-group">
  <%= f.label :team_code_eq, "Team" %>
  <%= f.text_field :team_code_eq, :class => "form-control", :placeholder => "Add Team Abbreviation" %>
</div>

<%= f.submit :class => "btn btn-primary btn-block" %>

<a href="/pitchers" class="btn btn-default btn-block">Clear filters</a>
<% end %>

<div class="page-break-after">
  <h2>
    All Batters
  </h2>
</div>

<div class="row" padding-top>
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>

        <th>Team</th>
        <th>Batter name</th>
        <th>Batting Side</th>
        <th>Batter ID</th>
        <th>Actions</th>

      </tr>

      <% @batters.each do |batter| %>
      <tr>

        <td><%= batter.team.code %></td>
        <td><%= batter.batter_name %></td>
        <td><%= batter.bats %></td>
        <td><%= batter.bats_id %></td>
        <td>
          <a href="/batters/<%= batter.id %>" class="btn btn-primary">Show</a>
          <a href="/delete_batter/<%= batter.id %>" class="btn btn-danger" rel="nofollow"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
