<div class="page-header">
  <h3>Pitcher Batter #<%= @pitcher_batter.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Pitcher</dt>
      <dd><%= @pitcher_batter.pitcher_id %></dd>

      <dt>Batter</dt>
      <dd><%= @pitcher_batter.batter_id %></dd>

      <dt>Np</dt>
      <dd><%= @pitcher_batter.np %></dd>

      <dt>Pa</dt>
      <dd><%= @pitcher_batter.pa %></dd>

      <dt>Ab</dt>
      <dd><%= @pitcher_batter.ab %></dd>

      <dt>Hits</dt>
      <dd><%= @pitcher_batter.hits %></dd>

      <dt>Double</dt>
      <dd><%= @pitcher_batter.double %></dd>

      <dt>Triple</dt>
      <dd><%= @pitcher_batter.triple %></dd>

      <dt>Hr</dt>
      <dd><%= @pitcher_batter.hr %></dd>

      <dt>Avg</dt>
      <dd><%= @pitcher_batter.avg %></dd>

      <dt>Obp</dt>
      <dd><%= @pitcher_batter.obp %></dd>

      <dt>Slg</dt>
      <dd><%= @pitcher_batter.slg %></dd>

      <dt>Ops</dt>
      <dd><%= @pitcher_batter.ops %></dd>

      <dt>Woba</dt>
      <dd><%= @pitcher_batter.woba %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/pitcher_batters" class="btn btn-primary">
        Back
      </a>
      <a href="/pitcher_batters/<%= @pitcher_batter.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_pitcher_batter/<%= @pitcher_batter.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
